*,
*:before,
*:after {
-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
        box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fafafa;
}

.container {
    padding: 0 0 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 100vh;

    img {
        width: 100%;
        vertical-align: middle;
    }
}

.headroom {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: background 0.5s;
}
.headroom--unfixed {
    position: relative;
}
.headroom--scrolled {
    transition: transform 200ms ease-in-out;
}
.headroom--unpinned {
    position: fixed;
    transform: translateY(-100%);
}   

 /* Manage when godin is visible */
.headroom.headroom--unpinned header .logo {
    transform: translateY(0);
}
.headroom--pinned {
    position: fixed;
    transform: translateY(0%);
    background: rgba(255, 255, 255, 0.8);
}

header {
    display: flex;
    width: 100%;
    height: 55px;
    padding: 0.5rem 0 0.5rem 1rem;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    background: linear-gradient(190deg, rgba(255,255,255,0.8), rgba(255,255,255,0));
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);

    // &:after {
    //     content:"";
    //     position: absolute;
    //     bottom: 0;
    //     left: 0 ;
    //     width: 100%;
    //     height: 0;
    //     box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
    // }
    
    .logo {
        width: 100px;
        position: relative;
        transition: transform 0.5s;
        z-index: 2;

        span {
            position: absolute;
            opacity: 0;
            left: 0;
            top: -10px;
            width: 100%;
            text-align: center;
            z-index: -1;
            transition: all 0.5s;
            transition-timing-function: cubic-bezier(0.2, 1, 1, 1);
            transition-delay: 0.2s;

            img {
                width: 40px;
            }
        }

        &:hover {
            transform: translateY(30px);

            span {
                opacity: 1;
                top: -35px;
            }
        }
    }

    .nav-item {
        padding: 0.5rem 0 1.5rem 2rem;
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        cursor: pointer;

        img {
            width: 25px;
            margin-right: 0.4rem;
        }

        span {    
            position: relative;
                    
            &:after {
                content: "";
                position: absolute;
                width: 0;
                height: 3px;
                bottom: -5px;
                background: #7b057b;
                left: 0;
                z-index: 1;
                border-radius: 10px;
                transition: width 1s;
            }
        }

        &.nav-item__selected {
            font-weight: bold;
            span:after{
                width: 100%;
            }
        }
    } 
}

.nav-items {
    opacity: 0;
    position: fixed;
    right: 0;
    top: 75px;
    transform: translateX(100%);
    display: flex;
    z-index: 99;
    background: #fff;
    align-items: center;
    padding: 1rem 2rem 1rem 0;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 0 20px #f2f2f2;
    transition: all 0.2s;

    &.isOpen {
        color: #000;
        opacity: 1;
        right: 0;
        transform: translateX(0);

        &:before {
            content: "";
            height: 100vh;
            position: fixed;
            width: 100vw;
            right: 0;
            top: -75px;;
            z-index: 1;
        }
    }
}

.submenu {
    justify-content: flex-end;
    font-size: 0.75rem;
    flex-wrap: wrap;
    align-items: initial;
    transition: opacity 1s;
    display: flex;
    text-align: center;
    flex-direction: column;
    z-index: 2;
    min-width: 200px;

    .nav-item {
        @media all and (min-width: 900px) {
            &:hover {
                background: #fff;
                font-weight: bold;
            }
        }
    }

    &.tools {
        justify-content: center;
        
        & img{
            width: 20px;
        }
    }
}

main {
    width: 100%;
    position: relative;
    margin-top: 2.5rem;
    text-align: center;
    min-height: 70vh;
}

input, select {
    border-radius: 3rem;
    padding: 0.5rem 1rem;
    // border: 1px solid #a7a7a7;
    border:0;
    background: #f2f2f2;
    height: 2.5rem;
    appearance: none;
    /* color: rgb(117, 117, 117); */
    color: #7b057b;
    min-width: 192px;
    font-size: 1.2rem;
    font-weight: bold;

    &:focus {
        outline:none;
    }

    &::placeholder {
        font-weight: normal;
        font-size: 1rem;
    }
}

.select-wrap {
    position: relative;
    display: table;
    margin: auto;

    &:after {
        content: "";
        position: absolute;
        right: 1rem;
        top: 1.1rem;
        width: 0; 
        height: 0; 
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 5px solid rgb(117, 117, 117);
        pointer-events: none;
    }
}
select {
    padding-right: 2rem;
    cursor: pointer;
}

button, .button {
    background: #7b057b;
    color: #fff;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    border: none;
    font-family: 'Baloo 2', cursive;
    border-radius: 3rem;
    cursor: pointer;
    display: inline-block;

    &:focus {
        outline:none;
    }

    &.secondary {
        color: #000;
        background: rgb(251, 219, 109);
    }
    &:disabled {
        background: #ccc;
        color: #8e8e8e;
    }
}

a {
    color: inherit;
    text-decoration: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    &.underlined{
        border-bottom: 1px dotted #000;
        padding-bottom: 0.3rem;
    }
}

h1{
    text-transform: capitalize;
    line-height: 1;
    margin-top: 0;
}

footer {
    position: relative;
    text-align: center;
    margin-top: 4rem;
    width: 100%;
    font-size: 0.8rem;
    padding: 0 1rem 1rem;
    
    .footer-links {
        display: flex;
        justify-content: space-around;
        max-width: 600px;
        margin: auto;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        padding-left: 0;

        li {
            margin: 0.5rem;
        }
    }
}

.grecaptcha-badge { visibility: hidden; }